body {
    display: flex;
}

main {
    width: 30vw;
    margin-right: 70vw;
    padding: 24px;
}

section {
    height: 100vh;
}


figure {
    display: block;
    width: 68vw;
    margin-left: 32vw;
    height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    overflow: hidden;
}

img {
    width: 425vh;
    position: absolute;
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

figure img {
    transition: all 3s ease; 
}

.zoom1 {
    transform: scale(1); 
    transform-origin: center;
    transform: translateX(-50%); 
}

.zoom2 {
    transform: scale(2);
}
