body {
    display: flex;
}

main {
    width: 30vw;
    padding: 24px;
}

section {
    height: 100vh;
}


figure {
    display: block;
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    overflow: hidden;
}

img {
    width: 425vh;
}

figure img {
    transition: all 3s ease; 
}

.zoom1 {
    width: 425vh; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
}

.zoom2 {
    top: 0; 
    left: 0; 
}
