h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

html {
    min-height: 100%;
    background: linear-gradient(180deg, rgba(255, 201, 53, 1) 50%, rgba(255, 249, 208, 1) 100%);
    background-repeat: no-repeat;
}

body {
    background: transparent;
}

header img{
    position: absolute;
}

#body, #left, #right {
    max-width: 25%; 
    margin: 10px 12%;
}

/* flapping animation */

#body {
    perspective: 800px;
    z-index: 10;
}

#left, #right {
    transform-origin: center top;
    z-index: 9;
}

#body:hover ~ #left{
    animation: leftflap 2s ease-in-out infinite; 
}

#body:hover ~ #right {
    animation: rightflap 2s ease-in-out infinite; 
}

@keyframes leftflap {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-16deg);
    }
    100% {
        transform: rotateY(5deg);
    }
}

@keyframes rightflap {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(16deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

/* honeydrip animation */

#honey {
    width: 100%;
    top: -15px;
    animation: honeydrip 8s ease-in-out infinite; 
}

@keyframes honeydrip {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

h1 {
    font-family: "Bagel Fat One";
    font-size: 32px;
    color: #DD841E;
    position: relative;
    text-align: end; 
    top: 24px;
    padding: 24px;

}

h2 {
    font-family: "Baloo Da 2";
    font-size: 24px;
    color: #DD841E;
    position: relative;
    top: 24px;
    text-align: end;
    padding: 0 36px;
}

main {
    padding: 36px;
    max-width: 1200px;
    margin: auto;
    z-index: 20;
}

h3 {
    font-family: "Baloo Bhai 2";
    font-size: 24px;
    color: #DD841E;
    text-align: center;
    padding: 18px;
}

ul li {
    font-family: "Afacad";
    font-size: 18px;
    color: #DD841E;
    text-align: center;
}

ul li a {
    text-decoration: none; 
    color: #DD841E;
}

ul li a:hover {
    color: #f0ac00; 
}

h3 {
    justify-content: center;
}

footer {
    font-family: "Afacad";
    font-size: 16px;
    color: #DD841E;
    padding: 12px;
    text-align: center;
}

footer a {
    color: #DD841E;
}

@media only screen and (min-width: 650px) {
    
    body {
    min-height: 100%;
    }

    h1 {
    font-size: 96px;
    text-align: end;
    padding: 96px 48px 0 0;
    }

    h2 {
    font-size: 36px;
    text-align: end;
    padding: 0;
    }

    #tagline {
        padding: 24px 48px;
    }

    main {
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    }

    h3 {
    font-size: 36px;
    padding-top: 12px;
    }

    ul li {
    font-size: 32px;
    }

    footer {
    margin: auto;
    }

}