h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

body {
    background-color: rgb(135, 45, 45);
    width: 100vw;
    height: 100vh;
    justify-content: center; 
}

main {
    max-width: 100vw; 
    max-height: 100vh;
    width: 100vw; 
    height: 100vh;
    aspect-ratio: 16/10;
    position: relative; 
}

#background {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.boxright {
    position: absolute;
    width: 35%;
    top: 20%;
    right: 13%;
}

/* #homepage {
    display: none;
} */

#homepage h1 {
    font-family: "Fredoka"; 
    font-size: clamp(4vw, 6vw, 8vw);
    color: #B56347; 
    text-align: center; 
    margin-bottom: 12px;
}

#h1pink {
    display: inline-block;
    color: #FFB4B4; 
}

#homepage h2 {
    font-family: "Fredoka"; 
    font-size: 32px;
    color: #C17961; 
    text-align: center;
}

#homepage button {
    font-family: "Fredoka"; 
    font-weight: bold;
    font-size: 24px;
    background-color: #FFB4B4;
    color: white; 
    padding: 6px 12px; 
    border-radius: 12px;
    border: none; 
    display: block;
    margin: 24px auto 0;
}

.boxleft {
    position: absolute;
    top: 20%;
    left: 24%;
}

#madlibs-questions {
    display: none; 
}

#loadingscreen {
    display: none;
}

.textbox {
    position: absolute;
    top: 15%;
    right: 15%;
}

#madlibs-form {
    display: none; 
}

#madlibs-form {
    font-family: "Afacad";
    font-size: 24px; 
    line-height: 36px;
}



@media only screen and (min-width: 900px) {

    body {
        width: 100vw; 
        height: 100vh;
    }

    .boxright {
        right: 13%; 
    }

    #homepage h1 {
        /* font-size: 84px; */
    } 

    #homepage h2 {
        font-size: 48px;
    }

    #homepage button {
        font-size: 48px;
        padding: 12px 24px; 
        border-radius: 20px;
        margin: 96px auto 0; 
    }

}