h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

body {
    background-color: rgb(135, 45, 45);
    width: 100vw;
    height: 100vh;
    justify-content: center; 
}

main {
    max-width: 100vw; 
    max-height: 100vh;
    width: 100vw; 
    height: 100vh;
    aspect-ratio: 16/10;
    position: relative; 
}

#background {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.boxright {
    position: absolute;
    width: 25%;
    top: 20%;
    right: 22%;
}

/* TURN PHONE SIDEWAYS OVERLAY */

#mobile-overlay {
    display: none;
}

@media only screen and (max-width: 400px) {
#mobile-overlay {
    display: block;
    position: absolute; 
    top: 0%;
}

#phone-overlay {
    position: absolute;
    top: 35%;
    right: calc(50% - 63px);
    animation: rotate ease-in-out 2.5s infinite;
}

#mobile-overlay h1 {
    font-family: "Fredoka";
    font-weight: 600;
    color: white;
    text-align: center;
    position: absolute; 
    top: 70%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(90deg);
    }
}

/* title page */

}

#homepage {
    display: none;
}

#homepage h1 {
    font-family: "Fredoka"; 
    font-size: clamp(4vw, 6vw, 8vw);
    color: #B56347; 
    text-align: center; 
    margin-bottom: 12px;
}

#h1pink {
    display: inline-block;
    color: #FFB4B4; 
}

#homepage h2 {
    font-family: "Fredoka"; 
    font-size: 32px;
    color: #C17961; 
    text-align: center;
}

#homepage button {
    font-family: "Fredoka"; 
    font-weight: bold;
    font-size: 24px;
    background-color: #FFB4B4;
    color: white; 
    padding: 6px 12px; 
    border-radius: 12px;
    border: none; 
    display: block;
    margin: 24px auto 0;
}

.boxleft {
    position: absolute;
    width: 25%;
    top: 20%;
    left: 22%;
}

/* form page */

#madlibs-questions {
    /* display: none;  */
}

#madlibs-questions label {
    font-family: "Afacad"; 
    font-size: 16px;
    margin-bottom: 20px;
}

#madlibs-questions input {
    background-color: rgb(233, 233, 233); 
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    margin-bottom: 18px;
}

#word-three {
    margin-left: 35px;
}

#word-four {
    margin-left: 50px;
}

#word-six {
    margin-left: 55px;
}

#word-seven{
    margin-left: 35px
}

#word-eight{
    margin-left: 45px
}

#word-nine{
    margin-left: 25px
}

#word-ten{
    margin-left: 10px
}

#word-eleven{
    margin-left: 45px
}

#word-twelve{
    margin-left: 10px
}

#loadingscreen {
    display: none;
}

/* story pages */

.textbox {
    position: absolute;
    width: 30%;
    height: 75%;
    top: 12%;
    right: 18%;
}

#madlibs-form1, #madlibs-form2, #madlibs-form3 {
    font-family: "Afacad";
    font-size: 16px; 
    line-height: 24px;
}

#madlibs-form1 {
    display: none; 
}

#madlibs-form2 {
    display: none; 
}

#madlibs-form1 button, #madlibs-form2 button {
    border: none; 
    background-color: transparent;
    color: #FFB4B4;
}

#madlibs-form3 {
    display: none; 
}

#madlibs-form3 h2{
    padding: 24px;
    text-align: center;
}

#tagline {
    font-size: 16px;
    color: #FFB4B4;
    text-align: center;
}

#madlibs-form3 button {
    font-family: "Fredoka";
    font-weight: 500;
    font-size: 20px;
    border: none; 
    border-radius: 10px;
    background-color: #FFB4B4; 
    color: white; 
    padding: 4px; 
    margin-top: 4px;
}

@media only screen and (min-width: 900px) {

    body {
        width: 100vw; 
        height: 100vh;
    }

    .boxright {
        right: 13%; 
    }

    #homepage h1 {
        /* font-size: 84px; */
    } 

    #homepage h2 {
        font-size: 48px;
    }

    #homepage button {
        font-size: 48px;
        padding: 12px 24px; 
        border-radius: 20px;
        margin: 96px auto 0; 
    }

}