h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

.hidden {
    display: none;
}

body {
    background-color: rgb(135, 45, 45);
    width: 100vw;
    height: 100vh;
}

main {
    max-width: 100vw; 
    max-height: 100vh;
    width: 100vw; 
    height: auto;
    aspect-ratio: 16/10;
    position: relative; 
}

#background {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.boxright {
    position: absolute;
    width: 25%;
    top: 18%;
    right: 21%;
}

/* TURN PHONE SIDEWAYS OVERLAY */

#mobile-overlay {
    display: none;
}

@media only screen and (max-width: 400px) {
#mobile-overlay {
    display: block;
    position: absolute; 
    top: 0%;
}

#phone-overlay {
    position: absolute;
    top: 35%;
    right: calc(50% - 63px);
    animation: rotate ease-in-out 2.5s infinite;
}

#mobile-overlay h1 {
    font-family: "Fredoka";
    font-weight: 600;
    color: white;
    text-align: center;
    position: absolute; 
    top: 70%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(90deg);
    }
}

/* title page */

}

#homepage h1 {
    font-family: "Fredoka"; 
    font-size: clamp(4vw, 6vw, 8vw);
    color: #B56347; 
    text-align: center; 
    margin-bottom: 12px;
}

#h1pink {
    display: inline-block;
    color: #FFB4B4; 
}

#homepage h2 {
    font-family: "Fredoka"; 
    font-size: clamp(4vw, 5vw, 6vw);
    color: #C17961; 
    text-align: center;
}

#homepage button {
    font-family: "Fredoka"; 
    font-weight: bold;
    font-size: 24px;
    background-color: #FFB4B4;
    color: white; 
    padding: 6px 12px; 
    border-radius: 12px;
    border: none; 
    display: block;
    margin: 24px auto 0;
}

.boxleft {
    position: absolute;
    width: 25%;
    top: 18%;
    left: 22%;
}

/* form page */

#madlibs-questions label {
    font-family: "Afacad"; 
    font-size: clamp(1vw, 1.5vw, 2vw);
    margin-bottom: 20px;
}

#madlibs-questions input {
    background-color: rgb(233, 233, 233); 
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    margin-bottom: 18px;
}

#word-three {
    margin-left: 35px;
}

#word-four {
    margin-left: 50px;
}

#word-six {
    margin-left: 55px;
}

#word-seven{
    margin-left: 35px
}

#word-eight{
    margin-left: 45px
}

#word-nine{
    margin-left: 25px
}

#word-ten{
    margin-left: 10px
}

#word-eleven{
    margin-left: 45px
}

#word-twelve{
    margin-left: 10px
}

#madlibs-questions input[type="submit"] {
    background-color: #FFB4B4; 
    color: white; 
    font-family: "Fredoka";
    font-size: 16px;
    width: 175px;
    height: 24px;
    display: block;
    margin: auto;
}

/* story pages */

#madlibs-form1 img {
    position: absolute; 
    width: 90%;
    top: 15%;
    left: 8%;
    animation: sticker 2s steps(1, end) infinite;
}

#madlibs-form2 #dog {
    position: absolute; 
    width: 50%;
    top: 10%;
    left: 15%;
    animation: sticker 2s steps(1, end) infinite;
}

#madlibs-form2 #cat {
    position: absolute; 
    width: 35%;
    top: 50%;
    left: 50%;
    animation: sticker 2s steps(1, end) infinite;
}

#madlibs-form3 img {
    position: absolute; 
    width: 85%;
    top: 35%;
    left: 8%; 
    animation: sticker 2s steps(1, end) infinite;
}

@keyframes sticker {
    0% {
        transform: rotate(10deg); 
    }
    50% {
        transform: rotate(-10deg); 
    }
    100% {
        transform: rotate(10deg);
    }
}

.textbox {
    position: absolute;
    width: 30%;
    height: 75%;
    top: 12%;
    right: 18%;
}

#madlibs-form1, #madlibs-form2, #madlibs-form3 {
    font-family: "Afacad";
    font-size: 16px; 
    line-height: 24px;
}

#madlibs-form1 button, #madlibs-form2 button {
    border: none; 
    background-color: transparent;
    color: #FFB4B4;
}

#madlibs-form3 h2{
    padding: 24px;
    text-align: center;
}

#tagline {
    font-size: 16px;
    color: #FFB4B4;
    text-align: center;
}

#madlibs-form3 button {
    font-family: "Fredoka";
    font-weight: 500;
    font-size: 20px;
    border: none; 
    border-radius: 10px;
    background-color: #FFB4B4; 
    color: white; 
    padding: 4px; 
    margin-top: 4px;
    display: block;
    margin: auto;
}

@media only screen and (min-width: 900px) {

    body {
        width: 100vw; 
        height: 100vh;
    }

    .boxleft {
        width: 31%;
        top: 16%;
        left: 15%;
        height: 500px;
    }

    .boxright {
        width: 31%;
        top: 16%;
        right: 15%;
        height: 500px;
        }

    #homepage h1 {
        margin: 24px 0;
    }
    
    #homepage h2 {
        font-size: 48px;
    }

    #homepage button {
        font-size: 48px;
        padding: 12px 24px; 
        border-radius: 20px;
        margin: 96px auto 0; 
    }

    /* input page */

    #madlibs-questions label {
    font-family: "Afacad"; 
    font-size: 28px;
    }

    #madlibs-questions input {
    background-color: rgb(233, 233, 233); 
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    margin-bottom: 28px;
    }

    #word-two {
    margin-left: 12px;
    }

    #word-three {
    margin-left: 100px;
    }

    #word-four {
    margin-left: 25px;
    }

    #word-five {
    margin-left: 30px;
    }

    #word-six {
    margin-left: 120px;
    }

    #word-seven {
    margin-left: 100px;
    }

    #word-eight {
    margin-left: 95px;
    }

    #word-nine {
    margin-left: 60px;
    }

    #word-ten {
    margin-left: 60px;
    }

    #word-eleven {
    margin-left: 0px;
    }

    #word-twelve {
    margin-left: 100px;
    }

    #madlibs-questions input[type="submit"] {
    background-color: #FFB4B4; 
    color: white; 
    font-family: "Fredoka";
    font-size: 24px;
    font-weight: 500;
    height: 50px;
    width: 275px;
    }

    /* story pages */
    .textbox {
    top: 25%;
    height: 50%;
    width: 34%;
    right: 13%;
    }

    #madlibs-form1, #madlibs-form2, #madlibs-form3 {
    font-family: "Afacad";
    font-size: 24px; 
    line-height: 36px;
    }

    #madlibs-form1 button, #madlibs-form2 button {
    border: none; 
    background-color: transparent;
    color: #FFB4B4;
    padding: 24px 0;
    }

    #madlibs-form3 h2{
    padding: 48px 0;
    }

    #tagline {
    font-size: 24px;
    }

    #madlibs-form3 button {
    border-radius: 25px;
    font-size: 36px;
    padding: 12px; 
    margin-top: 12px;
    }

}

@media only screen and (min-width: 1400px) {

    .boxleft {
        width: 35%;
        top: 18%;
        left: 11%;
        height: 550px; 
    }

    .boxright {
        width: 35%;
        top: 18%;
        right: 11%;
        height: 550px;
    }

    /* input page */

    #madlibs-questions label {
    font-size: 36px;
    }

    #madlibs-questions input {
    width: 200px;
    margin-bottom: 36px;
    }

    #madlibs-questions input[type="submit"] {
    font-size: 28px;
    width: 300px;
    }

    /* story pages */

    .textbox {
    width: 36%;
    right: 10%;
    }

    #madlibs-form1, #madlibs-form2, #madlibs-form3 {
    font-size: 28px; 
    line-height: 42px;
    }

    #tagline {
    font-size: 36px;
    }

    #madlibs-form3 button {
    margin-top: 24px;
    }

}

@media only screen and (min-width: 1500px) {


    .boxleft {
        width: 31%;
        left: 15%;
    }

    .boxright {
        width: 31%;
        right: 15%;
    }

    /* story pages */
    .textbox {
    width: 32%;
    right: 14%;
    }

    #madlibs-form1, #madlibs-form2, #madlibs-form3 {
    font-size: 28px; 
    line-height: 42px;
    }

    #tagline {
    font-size: 36px;
    }

}

@media only screen and (min-width: 1900px) {


    .boxleft {
        width: 31%;
        left: 15%;
        height: 700px; 
    }

    .boxright {
        width: 31%;
        right: 15%;
        height: 700px;
    }

    /* input page */

    #madlibs-questions label {
    font-size: 42px;
    }

    #madlibs-questions input {
    width: 275px;
    height: 45px; 
    margin-bottom: 36px;
    border-radius: 25px;
    }

    #madlibs-questions input[type="submit"] {
    font-size: 32px;
    width: 325px;
    height: 60px;
    }

    /* story pages */
    .textbox {
    width: 33%;
    right: 14%;
    }

    #madlibs-form1, #madlibs-form2, #madlibs-form3 {
    line-height: 48px;
    }

    #tagline {
    font-size: 48px;
    }

}
