h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

html {
    min-height: 100%;
    background: linear-gradient(180deg, rgba(255, 201, 53, 1) 50%, rgba(255, 249, 208, 1) 100%);
    background-repeat: no-repeat;
}

body {
    background: transparent;
}

header img{
    position: absolute;
    z-index: -1;
}

/* honeydrip animation */

#honey {
    width: 100%;
    top: -15px;
    animation: honeydrip 8s ease-in-out infinite; 
}

@keyframes honeydrip {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

h1 {
    font-family: "Bagel Fat One";
    font-size: 32px;
    color: #DD841E;
    position: relative;
    text-align: end; 
    top: 24px;
    padding: 24px;

}

h2 {
    font-family: "Baloo Da 2";
    font-size: 24px;
    color: #DD841E; 
    position: static; 
}

main {
    max-width: 1200px;
    margin: auto;
}

article {
    background-color: #FFF9D0; 
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: solid #DD841E 4px; 
}

time {
    font-family: "Baloo Bhai 2";
    font-size: 20px;
    color: #DD841E;
    text-align: center; 
}

p {
    color: #c9781b; 
    font-family: "Afacad"; 
    font-size: 16px;
    line-height: 1.15;
    padding-top: 12px;
}

footer {
    font-family: "Afacad";
    font-size: 16px;
    color: #DD841E;
    padding: 12px;
    text-align: center;
}

footer a {
    color: #DD841E;
}

@media only screen and (min-width: 650px) {
    
    body {
    min-height: 100%;
    }

    h1 {
    font-size: 72px;
    text-align: end;
    padding: 96px 48px 0 0;
    }

    main {
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    }

    article {
        max-width: 25%; 
        margin-top: 48px;
    }

    h2 {
    font-size: 36px;
    padding: 0;
    }

    p {
    line-height: 1.5; 
    }

    footer {
    margin: auto;
    }

}